<div class="arduinomaker">
        <div class="col c3">
          <br>
          <button class="btn-sm classless smooth" ng-click="builder.addForward()">Go Foward</button><br><br>
          <button class="btn-sm classless smooth" ng-click="builder.addBack()">Go Backward</button><br><br>
          <button class="btn-sm classless smooth" ng-click="builder.addRight()">Turn Right</button><br><br>
          <button class="btn-sm classless smooth" ng-click="builder.addLeft()">Turn Left</button><br><br>
          <button class="btn-sm classless smooth" ng-click="builder.addWait()">Wait</button><br><br>
        </div>
        <div class="col c9">
          <iframe>
            
          </iframe>
        </div>
      </div>