
<h1> About BloxBot</h1>
<div class="row">
  <div class="col c3" id="leftMenu">
    <img class="homepic" src = "img/IMG_0343.JPG">
  </div>

  <div class="col c7" id="rightContent">
    <div class="content">
    <p> BloxBot is a series of lessons introducing students to the basic skills needed to build and animate your robots.  The Pyfoundation's curriculum written by Barbara Shuratt, Katie Cunningham, and Amy Flatt is available under introductory lessons in Python.  We also have introductions to Makey Makey, Computer Aided Drafting, and an intro to servers and motors. </p>
    </div>
  </div>
</div>
